@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
html,
body {
  accent-color: #fff;
  color: #000000;
  font-family: "Standerd", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 980px) {
  html,
  body {
    font-size: 13px;
  }
}

a {
  color: #000000;
}

.link-primary {
  color: #000000;
}

.font-primary {
  font-family: "Standerd", sans-serif;
}

.font-light {
  font-weight: 300;
  font-family: "Standerd Light";
}

.font-medium {
  font-weight: 500;
  font-family: "Standerd Medium";
}

.font-bold {
  font-weight: bold;
  font-family: "Standerd Bold";
}

.font-extrabold {
  font-weight: bold;
  font-family: "Standerd ExtraBold";
}

.font-extra {
  font-family: "Brodaers Expanded Round";
}

.font-extraitalic {
  font-family: "Bodoni Moda";
  font-style: italic;
}

.bg-secondary {
  background-color: #f7f7f7;
}

.logo img {
  height: 28px;
}

.nav {
  top: -100vh;
}

.nav.active {
  top: 0;
  transition: all 0.4s ease;
}

.menu-link {
  color: white;
  background-color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.menu-link:hover {
  color: black;
}

.nav-active {
  color: black;
}

#nav-menu {
  cursor: pointer;
  width: 36px;
}

#nav-menu > span {
  background-color: #000000;
  display: block;
  height: 5px;
  width: 36px;
}

#nav-menu > span:not(:last-child) {
  margin-bottom: 5px;
}

#nav-menu,
#nav-menu > span {
  transition: all 0.4s ease;
}

#nav-menu.active {
  transform: rotate(45deg);
  transition-delay: 0.8s;
}

#nav-menu.active > span:nth-child(2) {
  width: 0;
}

#nav-menu.active > span:nth-child(1),
#nav-menu.active > span:nth-child(3) {
  background-color: #000000;
  transition-delay: 0.4s;
}

#nav-menu.active > span:nth-child(1) {
  transform: translateY(9px);
}

#nav-menu.active > span:nth-child(3) {
  background-color: #000000;
  transform: translateY(-9px) rotate(90deg);
}

.slider-home {
  height: 70vh;
}

.indicators li {
  margin: 0 0.25rem !important;
}

.fade-in {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn:hover {
  color: black;
  background-color: transparent;
  border: 2px solid black;
}

@media (max-width: 980px) {
  .text-6xl {
    font-size: 3rem;
  }
}

.creaciones-container {
  max-width: 1400px;
}

.item-mask {
  height: 280px;
}

.mask {
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  overflow: hidden;
}

.mask-1 {
  -webkit-mask-image: url("./assets/mask/mask-1-on.svg");
          mask-image: url("./assets/mask/mask-1-on.svg");
}

.mask-2 {
  -webkit-mask-image: url("./assets/mask/mask-2-on.svg");
          mask-image: url("./assets/mask/mask-2-on.svg");
}

.mask-3 {
  -webkit-mask-image: url("./assets/mask/mask-3-on.svg");
          mask-image: url("./assets/mask/mask-3-on.svg");
}

.mask-4 {
  -webkit-mask-image: url("./assets/mask/mask-4-on.svg");
          mask-image: url("./assets/mask/mask-4-on.svg");
}

.mask-5 {
  -webkit-mask-image: url("./assets/mask/mask-5-on.svg");
          mask-image: url("./assets/mask/mask-5-on.svg");
}

.mask-6 {
  -webkit-mask-image: url("./assets/mask/mask-6-on.svg");
          mask-image: url("./assets/mask/mask-6-on.svg");
}/*# sourceMappingURL=main.css.map */