.slider-home {
  height: 70vh;
}

.indicators {
  li {
    margin: 0 0.25rem !important;
  }
}

.fade-in {
  animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn {
  &:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
  }
}

.text-6xl {
  @media (max-width: 980px) {
    font-size: 3rem;
  }
}
